{% extends 'teachernavbar.html' %}

{% block content %}
 <style>
    .div1{
        width: 40%;
    }
    .button{
        text-align: center;
    }
    .tb1{
        padding: 50px;
    }
    .btn1{
        margin-bottom: 30px;
    }
    .div2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .label1{
        font-family: "Times New Roman";
    }
    .heading {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
    }
    .sellist{
        width: 39vw;
    }
 </style>     
<br><h2 align="center" class="heading">Add Student Data</h2>
<form action="add_student" method="post">
    {% csrf_token %}
    <div class="d-flex flex-column div2 label1">
        <h3 align="center" style="color: green;">{{ Msg }}</h3>
        <div class="form-floating mb-3 div1">
            <input type="text" class="form-control label1" id="studentname" placeholder="StudentName" name="txtName">
            <label for="studentname" class="label1">Student Name:</label>
        </div>
        <div class="form-floating mb-3 div1">    
            <input type="number" class="form-control label1" id="studentcontact" placeholder="StudentContact" name="txtContact">
            <label for="studentcontact" class="label1">Student Contact:</label>
        </div>
        <div class="form-floating mb-3 div1">    
            <input type="email" class="form-control label1" id="studentemail" placeholder="StudentEmail" name="txtEmail">
            <label for="studentemail" class="label1">Student Email:</label>
        </div>
        <div class="form-floating mb-3 div1">    
            <textarea class="form-control" placeholder="Address" id="address" name="txtAddress"></textarea>
            <label for="address" class="label1">Student Address:</label>
        </div>
        <div class="button d-grid gap-2 col-3 mx-auto btn1">    
            <input type="submit" class="btn btn-outline-dark label1" name="btnSub" value="Add Student">
        </div>
    </div>    
</form>
{% endblock %}